<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <header>
    <div class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg navbar-top navbar-light bg-white border-bottom box-shadow justify-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sociedad Chilena de Musicología</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        @if(@ViewBag.Cookie != null){
                            <a class='nav-link nav-item  @(ViewBag.Current == "Solicitudes" ? "active" : "")' asp-area="" asp-controller="Home" asp-action="Solicitudes">Solicitudes</a>
                            <a class='nav-link nav-item  @(ViewBag.Current == "Buscador" ? "active" : "")' asp-area="" asp-controller="Home" asp-action="Buscador">Buscador</a>
                            <a class='nav-link nav-item ' asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar Sesión</a>
                        } else {
                            <a class='nav-link nav-item  @(ViewBag.Current == "Login" ? "active" : "")' asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            <a class='nav-link nav-item  @(ViewBag.Current == "Solicitud" ? "active" : "")' asp-area="" asp-controller="Home" asp-action="Solicitud">Solicitud</a>
                        }
                    </div>
                </div>
        </nav>
    </div>
    </header>
    <div class="container-fluid pb-5">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class = "row d-flex px-md-2 py-4 text-justify-between">
                <div class="col ml-2 flex-column text-justify">
                    <h3>Nuestra institución</h3>
                    <a>La Sociedad Chilena de Musicología (SChM) es una corporación de derecho privado sin fines de lucro constituida el 14 de junio de 2001, que convoca y agrupa a académicos e investigadores dedicados al estudio de la música en sus diversas manifestaciones... <a asp-controller="Home" asp-action="Index">[leer más]</a></a> 
                </div>
                <div class="col mr-2 flex-column text-right">
                    <h3>Contáctanos</h3>
                    <a>Correo: contacto@@schm.cl <br> Teléfono: +56 9 12345678</a>
                </div>
            </div>
        </div>  
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
