@{
    string[] estados = {"fas fa-ellipsis-h","fas fa-check","fas fa-sync-alt","fas fa-times"};
    string[] botones = {"btn-grey","btn-green","btn-blue","btn-red"};
    ViewData["Title"] = "Solicitudes";
}
@model IPagedList<SolicitudModel>

<link rel="stylesheet" href="~/css/planner.css">
<link rel="stylesheet" href="~/css/globals.css">

<div class="row top">
    <div class="col text-center">
        <h2>Solicitudes</h2>
    </div>
</div>


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <nav class="navbar float-right px-0 my-2">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-grey my-sm-0 mr-sm-2" type="submit"><i class="fas fa-search"></i></button>
                    <div class="dropdown my-sm-0">
                        <button class="btn btn-grey dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-filter"></i> Filtro
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Fecha ascendiente</a>
                            <a class="dropdown-item" href="#">Fecha descendiente</a>
                            <a class="dropdown-item" href="#">Nombre ascendiente</a>
                            <a class="dropdown-item" href="#">Nombre descendiente</a>
                            <a class="dropdown-item" href="#">No leído</a>
                            <a class="dropdown-item" href="#">En proceso</a>
                            <a class="dropdown-item" href="#">No encontrado</a>
                            <a class="dropdown-item" href="#">Completado</a>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td for="date" class="text-muted" style="width: 5rem">05/12/2021</td>
                        <td for="name" style="width: 50rem">Robert Demiro</td>
                        <td for="text" class="text-truncate" style="width:">Derechos de autor de canción clasica chilena. "El costillar es mio" </td>
                        <td style="width: 13rem" ><a asp-area="" asp-controller="Home" asp-action="LeerMas" class="btn btn-grey">Leer más</a>
                        <button type="submit" class="btn btn-grey">Borrar</button></td>
                        <td style="width: 1rem"><div class="btn-group dropright ">
                            <button type="button" class="btn btn-green">
                                <i class="@estados[1]"></i>
                            </button>
                            <button type="button" class="btn btn-green dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropright</span>
                            </button>
                            <div class= "dropdown-menu text-center">
                                <button class="dropdown-item" type="button"><i class="fas fa-sync-alt"></i></button>
                                <button class="dropdown-item" type="button"><i class="fas fa-times"></i></button>
                                <button class="dropdown-item" type="button"><i class="fas fa-ellipsis-h"></i></button>
                            </div>
                        </div></td>
                    </tr>
                    
                    @foreach (var item in ViewBag.elementosPagina){
                    <tr>
                        <td for="date">@(item.Fecha.Length < 19 ? item.Fecha.Substring(0,9) : item.Fecha.Substring(0,10))</td>
                        <td for="name">@item.Nombre @item.Apellido</td>
                        <td for="text" class="text-truncate" style="max-width: 180px;">@(String.IsNullOrEmpty(item.Solicitud)?"-":item.Solicitud)</td>
                        <td><a asp-controller="Home" asp-action="LeerMas" asp-route-id="@item.IDFormulario" class="btn btn-grey">Leer más</a>
                        <button type="button" onclick="location.href='@Url.Action("EliminarSolicitud","Home",new {id = item.IDFormulario})'" class="btn btn-grey">Borrar</button>
                        </td>
                        <td><div class="btn-group dropright">
                            <button type="button" class="btn @botones[item.Estado]">
                                <i class="@estados[item.Estado]"></i>
                            </button>
                            <button type="button" class="btn @botones[item.Estado] dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropright</span>
                            </button>
                            <div class="dropdown-menu text-center">
                                <button onclick="location.href='@Url.Action("EditarEstado","Home",new {id = item.IDFormulario, estado = 1})'" class="dropdown-item" type="submit"><i class="fas fa-check"></i></button>
                                <button onclick="location.href='@Url.Action("EditarEstado","Home",new {id = item.IDFormulario, estado = 2})'" class="dropdown-item" type="submit"><i class="fas fa-sync-alt"></i></button>
                                <button onclick="location.href='@Url.Action("EditarEstado","Home",new {id = item.IDFormulario, estado = 3})'" class="dropdown-item" type="submit"><i class="fas fa-times"></i></button>
                                <button onclick="location.href='@Url.Action("EditarEstado","Home",new {id = item.IDFormulario, estado = 0})'" class="dropdown-item" type="submit"><i class="fas fa-ellipsis-h"></i></button>
                            </div>
                        </div></td>
                    </tr>
                    }
                </tbody>
            </table>
            <nav>
                    @Html.PagedListPager((IPagedList)ViewBag.elementosPagina, pagina => Url.Action("Solicitudes", new { pagina }), new PagedListRenderOptions { 
                        LinkToFirstPageFormat = "<< Primera", 
                        LinkToPreviousPageFormat = "< Anterior", 
                        LinkToNextPageFormat = "Siguiente >", 
                        LinkToLastPageFormat = "&Uacute;ltima >>", 
                        UlElementClasses = new string[] {"pagination","justify-content-center"}, 
                        LiElementClasses = new string[] { "page-item" }, 
                        PageClasses = new string[] { "page-link" }})
            </nav>
        </div>
    </div>
</div>